<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="LAUNCHER.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
        <LAUNCHER.Properties.Settings>
            <setting name="checkbox" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxsound" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxmusic" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxlogos" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxtriplebuff" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxhardwcurs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxjoystick" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxupdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxenglish" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxitalian" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxfrench" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxgerman" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxkorean" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxLupdates" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="checkboxwindowed" serializeAs="String">
                <value>False</value>
            </setting>
        </LAUNCHER.Properties.Settings>
    </userSettings>
</configuration>
